
**/Binaries/
**/Intermediate/
**/Saved/
**/DerivedDataCache/
**/Build/

*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
.vs/
.vscode/

.DS_Store
**/*.xcworkspace
**/*.xcodeproj

*.obj
*.pdb
*.target
*.log
*.exe
*.dll
*.dylib
*.so
*.lib
*.app
*.ipa

*_BuiltData.uasset
SourceArt/